{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/home.css')}}">
{% endblock %}

{% block body %}

<div class="container text-center">
    <img src="{{asset('images/logo_acceuil.png')}}"></img>
    <p>L'application qui vous trouve une musique vidéo selon votre humeur</p>

    <form class="searchbox" role="search">
    {# <div class=""> #}
        <input class="form-control me-2 bg-light" type="search" aria-label="Search">
        <i class="fa-solid fa-magnifying-glass icon_search"></i>
        {# </div> #}
      </form>
    </form>
{% endblock %}
