
$color-background:  rgb(255,133,214);
$color-background-gradient: linear-gradient(90deg, rgba(255,133,214,1) 0%, rgba(255,133,214,1) 0%, rgba(255,202,158,1) 100%);
$nav-color: #6033bb;
// $nav-color: #4c2892;
$nav-color2: #100A80;

$color-category1: rgb(69, 45, 45);
$color-category2: rgb(181, 164, 164);

$btn-boxshadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
$btn-boxshadow-normal: 10px 10px 10px 5px gray;

$color-table: rgb(6 6 6 / 82%);

$p: #391384;

$progress-bar-color: blue;

$politique:#391384;