.navbar{
  background-color: #100A80;
  font-family: 'Abel', sans-serif;
  height: 90px;
}

.na-item > a {
  color: #fff;
}

#logo{
  width: 125px;
  height: 120px;
}

.searchbox_nav {
  width: 300px;
}

.icon_search_nav{
  color: #fff;
  padding-top: 10px;
  padding-left: 10px;
}