 body{
  background: rgb(255,133,214);
  background: linear-gradient(90deg, rgba(255,133,214,1) 0%, rgba(255,133,214,1) 0%, rgba(255,202,158,1) 100%);
  font-family: 'Abel', sans-serif;
}


  .navbar {
    background-color: #3a118d;
}
