
@import 'mixins';
@import 'colors';

/* --------------------------------------- */
/* ------Pour toutes les pages------------ */
/* --------------------------------------- */

body {
    background: $color-background;
    background: $color-background-gradient;
    font-family: 'Abel', sans-serif;
  }


/* --------------------------------------- */
/* -----------------nav------------------- */
/* --------------------------------------- */

  nav {
      background-color:  $nav-color;
   li { 
    @include flex();
    }
  }
/* --------------------------------------- */
/* -----------------Home------------------- */
/* --------------------------------------- */

  .p_home{
    font-size: 28px;
    text-align: center;
  }

  .img_home{
    width: 60vh;
    height: 50vh;
  }


  .btn_icon_home{
  background-color:  $nav-color !important;
  }

  @media (max-width: 750px) {
    .img_home{
      width: 40vh;
      height: 30vh;
    }
    .p_home{
      font-size: 18px;
    }
  }

  @media (max-width: 480px) {
    .p_home{
      font-size: 13px;
    }

  }


/* --------------------------------------- */
/* -----------------Mood------------------- */
/* --------------------------------------- */

.card_mood{
  @include flex();
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}

.category{
    box-shadow: 10px 10px 10px 5px gray;
    background: rgb(255,133,214);
    background: linear-gradient(90deg, rgba(255,133,214,1) 0%, rgba(255,133,214,1) 0%, rgba(255,202,158,1) 100%);
}
  
.category > a{
  font-size: 25px;
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: rgb(69, 45, 45);
}

.category > a:hover{
  text-decoration: none;
  color: rgb(188, 163, 163);
}


@media (max-width: 480px) {
  .title_mood{
    font-size: 30px;
  }
}

/* --------------------------------------- */
/* -----------------Register------------------- */
/* --------------------------------------- */

.register_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.registration{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 40%;
    height: 50%;
    box-shadow: 10px 10px 10px 5px gray;
    background: rgb(255,133,214);
    background: linear-gradient(90deg, rgba(255,133,214,1) 0%, rgba(255,133,214,1) 0%, rgba(255,202,158,1) 100%);
}


@media (max-width: 995px) {
  .registration{
    width: 45%;
    height: 50%;
  }
}

@media (max-width: 460px) {
  .registration{
    width: 100%;
    height: 50%;
    padding-left: 1%;
    padding-right: 1%;
  }
}

@media (max-width: 767px) {
  .registration{
    width: 60%;
    height: 50%;
  }
}

// *************************************************************************//
// Attention class: rengstration est utilisé dans la page de connexion aussi
// *************************************************************************//

/* --------------------------------------- */
/* -----------------Connexion------------------- */
/* --------------------------------------- */

.login_info{
  font-size: 18px;
}

/* --------------------------------------- */
/* -----------------ADMIN PAGES------------------- */
/* --------------------------------------- */

/* --------------------------------------- */
/* -----------------Admin Mood List------------------- */
/* --------------------------------------- */


.btn_act > a:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.actions_mood > a{
  color: black;
}

.actions_mood > a:hover{
  @include tool_a();
}

/* --------------------------------------- */
/* -----------------Admin Mood Créer------------------- */
/* --------------------------------------- */

.btn_act2:hover{
  box-shadow: $btn-boxshadow
}

.return > a {
  color: black;
}

.return > a:hover {
  @include tool_a();
  color: red;
}

/* --------------------------------------- */
/* -----------------Admin Mood Détail------------------- */
/* --------------------------------------- */

.edit > a{
  color: black;
}

.edit > a:hover {
  @include tool_a();
  color: green;
}

/* --------------------------------------- */
/* -----------------Admin Mood Modifier------------------- */
/* --------------------------------------- */