<nav class="navbar shadow-1 primary">
    <div class="container-fluid">
        <div class="navbar-menu ml-auto">
          <a class="navbar-link" href="#">Contact</a>
          <a class="navbar-link" href="#">Politique de confidentialités</a>
        </div>
    </div>
</nav>