{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class="container text-center">
  <h1 class="mt-3 mb-2">Contact</h1>
  <h2 class="mt-3 mb-3">HI ! MUSIC MOOD </H2>
  <P>Vous souhaitez participer à ce blog consacré à la musique ?</P>
  <p>Vous souhaitez publier un article sur musicmood.com ? 
  </p>
  <p>Vous aimeriez nous faire découvrir un artiste ou un groupe et l'ajouter aux MOOD ? </p>
  <p>N'hésitez pas à nous contacter par le biais du formulaire ci-dessous, nous répondrons à votre demande le plus vite possible .</p>

  <h3 class="mt-3 mb-4">Contactez-nous via le formulaire ci-desesous</h3>
  <div class="register_div">
    <div class="card card_contact">{{form(form)}}</div>
  </div>
</div>
{% endblock %}
