{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<h1>Contact</h1>
<h2>HI ! MUSIC MOOD </H2>
<P>Vous souhaitez participer à ce blog consacré a la musique ?</P>
<p>Vous souhaitez publier un article sur musicmood.com ? 
</p>
<p>Vous aimeriez nous faire découvrir un artiste ou un groupe et l'ajouter aux MOOD ? </p>
<p>N'hétitez pas nous contacter par le biais du formulaire ci-deesous, nous répondrons a votre demande le plus vite possible .</p>

<h3>Contactez-nous via le formulaire ci-desesous</h3>

<div>{{form(form)}}</div>
{% endblock %}
