{% extends 'base.html.twig' %}

{% block title %}Liste des humeurs{% endblock %}
{% block stylesheets %}


{% endblock %}
{% block body %}
<main>
        <h1 class="title_mood mt-5 mb-5">Liste des humeurs</h1>

    <div class="container text-center">
        <div class="card-body row ">
            {% for mood in moods %}
            <div class="card category mb-3 text-wrap col-md-6">
                    <a href="{{ path('app_mood_show', {'id': mood.id}) }}">{{ mood.name }}</a>
            </div>
            {% else %}
                    <p class="fs-4">Il y n'y a rien à ajouter</p>
            {% endfor %}
        </div>
</main>
{% endblock %}
