{% extends 'base.html.twig' %}

{% block title %}Liste des humeurs{% endblock %}
{% block stylesheets %}
<style>
    h1{
        font-size: 45px;
        text-align: center;
    }

    .category > ul{
        list-style: none;
    }

</style>

{% endblock %}
{% block body %}
        <h1 class="mt-5 mb-5">Liste des humeurs</h1>

    <div class="container mt-3 mb-5">
            {% for mood in moods %}
        <div class="card category">
                <ul>
                    <li>{{ mood.name }}</li>
                    <li><a href="{{ path('app_mood_show', {'id': mood.id}) }}">Détail</a></li>
                </ul>
            {% else %}
                    <p class="fs-4">Il y n'y a rien à ajouter</p>
        </div>
            {% endfor %}
    </div>
    
{% endblock %}
