{% extends 'base.html.twig' %}

{% block title %}Edit Music{% endblock %}

{% block body %}
<main>
    <div class="container text-center">
    <h1>Edit Music</h1>

    {{ include('admin_music/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_music_index') }}">back to list</a>

    {{ include('admin_music/_delete_form.html.twig') }}
    </div>
</main>
{% endblock %}
