{% extends 'base.html.twig' %}

{% block title %}New Music{% endblock %}

{% block body %}
<main>
    <div class="container">
    <h1 clas="text-center">Create new Music</h1>
    
    {{ include('admin_music/_form.html.twig') }}

    <a href="{{ path('app_admin_music_index') }}">back to list</a>
    </div>
</main>
{% endblock %}
