{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <div class="container text-center mood_div">
            <h1 class="mt-5 mb-5">Créer un nouveau commentaire</h1>

        {{ include('admin_comment/_form.html.twig') }}

        <a href="{{ path('app_admin_comment_index') }}">&lsaquo; Retour à la liste </a>
    </div>
{% endblock %}
