{% extends 'base.html.twig' %}

{% block title %}Mood index{% endblock %}

{% block body %}
    <h1>Les Moods</h1>

    <table class="table">
        <thead>
            <tr>
              
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mood in moods %}
            <tr>
           
                <td>{{ mood.name }}</td>
                <td>
                    <a href="{{ path('app_admin_mood_show', {'id': mood.id}) }}">show</a>
                    <a href="{{ path('app_admin_mood_edit', {'id': mood.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_mood_new') }}">Create new</a>
{% endblock %}
