{% extends 'base.html.twig' %}

{% block title %}New Mood{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1 class="mt-5 mb-5">Créer le nouveau Mood</h1>

        {{ include('admin_mood/_form.html.twig') }}
        <div class="return">
            <a href="{{ path('app_admin_mood_index') }}">&lsaquo; &lsaquo; Retour à la liste </a>
        </div>
    </div>
{% endblock %}
